# WalletConnect (https://cloud.walletconnect.com)
NEXT_PUBLIC_WC_PROJECT_ID=

# Pimlico Bundler (https://dashboard.pimlico.io)
PIMLICO_API_KEY=

# PostgreSQL for storing user data
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres"

# Persist passkey auth challenges
REDIS_URL="redis://localhost:6379"